img{
    width:20%;
}

body{
    display:grid;
    margin:0;
    background-image:url('https://media.istockphoto.com/vectors/gradient-gray-abstract-background-blurred-smooth-gray-color-bright-vector-id1181937807?k=20&m=1181937807&s=612x612&w=0&h=W6w7rliTsLQEza5Cq5CkWPDqYZBYk7hfEGIfVsQNW28=');
    background-position: center;
    background-size: cover;
}
.first-profile-block{
    grid-row:1;

    display:grid;
    width:70%;
    margin-right: auto;
    margin-left:auto;

}
.second-profile-block{
    grid-row:2;

    display: grid;
    width:70%;
    margin-right: auto;
    margin-left:auto;
}
.first-profile-block > h1{
    grid-column: 1;
    grid-row:1;
    margin-right: auto;
    margin-left:auto;
    font-size: 50px;
    font-family: 'Montserrat',sans-serif;
}

.first-profile-block > img{
    grid-column: 1;
    grid-row:2;
    width:55%;
    margin:auto auto auto auto;
    border-radius:10%;
}

.first-profile-block>p{
    grid-column:2;
    grid-row:2;
    width:90%;
    text-align:justify;
    font-size: 30px;
    font-family: 'Montserrat',sans-serif;

}

.profile-name{
    grid-row:3;
    grid-column:1;
    margin-left:auto;
    margin-right:auto;
    text-justify: center;
    font-size: 30px;
    font-family: 'Montserrat',sans-serif;
}

.contact-link{
    grid-row:3;
    grid-column:2;
    font-size: 30px;
    font-family: 'Montserrat',sans-serif;
}

.second-profile-block>h3{
    grid-column: 1;
    grid-row:1;
    margin-right: auto;
    margin-left:1em;
    text-align: justify;
    font-size: 50px;
    font-family: 'Montserrat',sans-serif;
}

.second-profile-block > img{
    grid-column: 2;
    grid-row:2;
    width:65%;
    margin:auto auto auto auto;
    border-radius:10%;
}

.second-profile-block>p{
    grid-column:1;
    grid-row:2;
    width:90%;
    text-align:justify;
    font-size: 30px;
    margin-right: auto;
    margin-left:auto;
    font-family: 'Montserrat',sans-serif;

}